@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root{
    
        --roxo:#5a037a;
        --amarelo:#ffc929;
        --azul:#1E90FF;
        --fundo:#F8F8FF;
     
}
body{
        background-color:var(--fundo);
        ;
    }
    .logo{
        width:70px;
        border-radius: 600%;
    }
    .navbar{
        background-color: var(--roxo);
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
    }
    .txtnav, .navbar-text{
        color: white;
        font-weight: bold;
        font-size: x-large;
    }
   
    /*Div para botão da navbar*/
    .bt{
    background-color:var(--amarelo);
    color: var(--roxo);
    font-weight: bold;
    border-radius:05px;
     
     }
     .bt:hover{
        background-color:var(--roxo);
        color: var(--amarelo);
        font-weight: bold;
        border-radius:05px;
         
         }
    .btn{
        background-color:var(--amarelo);
        color: var(--roxo);
        font-weight: bold;
        border-radius:05px;
    }
    .btn:hover{
        background-color:var(--roxo);
        color: var(--amarelo);
        font-weight: bold;
        border-radius:05px;
         
    }
    .busca{
        margin-top: 2%;
    }
    .container{
        
        display: flex;
        justify-content: space-around;
    }


.card-img-top{
   height: 200px;
}
.card-img-top:hover{
   transform: scale(1.1);
   
}

.card-title{
    
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.card{
    width: 25rem;
    height:min-content;
}
.form{
   background-color: #ffffff;
    align-content:  center;
}

.footer{
    background-color:var(--roxo);
    color:rgb(250,250,250);
    text-decoration: none;
    margin-top:15px;

}
a {
    background-color:var(--roxo);
    color:rgb(250,250,250);
    text-decoration: none;
    
 }
 



